@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';

  --color-base-100: #ffffff;
  --color-base-200: #f4f4f4;
  --color-base-300: #e0e0e0;
  --color-base-content: #161616;

  --color-primary: #0f62fe;
  --color-primary-content: #ffffff;

  --color-secondary: #4589ff;
  --color-secondary-content: #ffffff;

  --color-accent: #78a9ff;
  --color-accent-content: #161616;

  --color-neutral: #525252;
  --color-neutral-content: #ffffff;

  --color-info: #0072c3;
  --color-info-content: #ffffff;
  --color-success: #24a148;
  --color-success-content: #ffffff;
  --color-warning: #ff832b;
  --color-warning-content: #161616;
  --color-error: #da1e28;
  --color-error-content: #ffffff;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  /* Основной фон и нейтралы (IBM Gray 100 / Gray 90 / Gray 80…) */
  --color-base-100: #161616; /* Gray 100 — основной фон */ 
  --color-base-200: #262626; /* Gray 90 — поверх базового */ 
  --color-base-300: #393939; /* Gray 80 — контейнеры */ 
  --color-base-content: #FFFFFF; /* Текст светлый на тёмном фоне */

  /* Primary — IBM Core Blue */
  --color-primary: #0F62FE; /* Blue 60 */ 
  --color-primary-content: #FFFFFF;

  /* Secondary — более светлый синий для акцента */
  --color-secondary: #4589FF; /* Blue 50 */ 
  --color-secondary-content: #FFFFFF;

  /* Accent — более мягкая, но всё ещё яркая акцентная палитра */
  --color-accent: #78A9FF; /* Blue 40 */ 
  --color-accent-content: #161616;

  /* Нейтраль (текст/иконки) */
  --color-neutral: #6F6F6F; /* Gray 60 — второстепенные тексты */ 
  --color-neutral-content: #FFFFFF;

  /* Состояния */
  --color-info: #0072C3; /* Cyan 60 */ 
  --color-info-content: #FFFFFF;
  --color-success: #24A148; /* Green 50 */ 
  --color-success-content: #161616;
  --color-warning: #FF832B; /* Alert 40 / orange‑like */ 
  --color-warning-content: #161616;
  --color-error: #DA1E28; /* Red 60 */ 
  --color-error-content: #FFFFFF;

  /* Радиусы и прочее (по желанию можно тонко настроить) */
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  font-weight: 600;
}

p,
span {
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  font-weight: 400;
}

html,
body,
#app {
  height: 100%;
}
